body {
  background: white;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
.main-container {
  margin: 0 auto;
}

header {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.header__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#53f, #53f);
  transform: skewY(-3deg);
  transform-origin: top left;
}

h1 {
  margin: 0;
  padding: 50px 0;
  font: 44px "Arial";
  text-align: center;
  position: relative;
  color: white;
  font-weight: 600;
  animation: lostAnimation 3s forwards;
  transform: rotate(-30deg) scale(0.8);
}

@keyframes lostAnimation {
  0% {
    transform: rotate(-30deg) scale(0.8);
    filter: blur(50px);
  }
  100% {
    transform: rotate(0deg) scale(1.1);
    filter: blur(0px);
  }
}

.inputAndResultContainer {
  max-width: 500px;
  margin: -80px auto;
  padding: 20px;
  background-color: white;
  position: relative;
  /* display: block; */
  /* overflow: auto; */
  border-radius: 3px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.birthdaysInput {
  overflow: auto;
  margin: 10px 0px 10px;
}

.birthdaysInput textarea:focus, .birthdaysInput input:focus, .birthdaysInput select:focus {
  outline: none;
}

.birthdaysInput .dayInput {
  width: 50px;
}

.birthdaysInput input {
  padding-left: 10px;
  height: 30px;
  border-radius: 3px;
  border: 2px lightgrey solid;
}

.birthdaysInput select {
  padding-left: 10px;
  height: 35px;
  width: 100px;
  border-radius: 3px;
  border: 2px lightgrey solid;
  margin: 0px 20px 0px 20px;
}

.birthdaysInput .yearInput {
  width: 80px;
}

.birthdaysInput input:focus, .birthdaysInput select:focus {
  transition: all 0.2s ease;
  border: 2px #53f solid;
}

button {
  transition: opacity 0.2s ease;
  width: 200px;
  height: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  color: white;
  background-color: #53f;
  border: none;
  border-radius: 3px;
  border-bottom: 8px solid #4228c7;
  cursor: pointer;
}

button:hover {
  margin-top: 15px;
  height: 55px;
  border-bottom: 13px solid #4228c7;
}

button:active {
  margin-top: 20px;
  height: 50px;
  border-bottom: 4px solid #4228c7;
}

button:disabled {
  opacity: 0.2;
  border-bottom: 8px solid #4228c7 !important;
  height: 50px !important;
  margin-top: 20px;
  cursor: inherit;
}

/*
border: none;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 310px;
    font-size: 26px;
    line-height: 30px;





    margin-top: 16px;
    margin-bottom: 0;
    color: #fff;
    background: #0bba40;
    border-top: 2px solid #29df60;
    border-bottom: 8px solid #1b9126;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    box-shadow: 0 18px 12px rgba(0,0,0,.2);
    color: #fff;
    line-height: 2em;
    letter-spacing: 2px;


    */
.redBg {
  background-color: red;
  border-radius: 51px;
  color: white;
  padding: 5px;
}

/* 
	Generic Styling, for Desktops/Laptops 
	*/
table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  /*
	Label the data
	*/
  td:nth-of-type(1):before {
    content: "Year";
  }
  td:nth-of-type(2):before {
    content: "Weathercondition";
  }
}
